::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #5f22ce;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}
