html,
body {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Allows for sticky footer */
.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.dewey {
    margin: 0 20px 0 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #5f22ce;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}
